@font-face {
    font-family: "Raleway";
    src: url("fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Oswald2";
    src: url("fonts/Oswald-Medium.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
}



html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 37, 37);
}
/*le background change de couleur en changeant la resolution de la fenêtre:
en dessous de 300px = rouge; entre 300 et 768 = vert;
et à partir de 768px = bleu*/
@media only screen and (max-width: 300px) {
    body {
        background-color: red;
    }
    
}
@media only screen and (min-width:301px) {
    body {
        background-color: green;
    } 
}
@media only screen and (min-width:768px) {
    body {
        background-color: blue;
    } 